<div id="footer">
    <div class="container">
        <p class="muted credit">
            Author By
            <a href="#">linyd</a>
            © 2013
        </p>
    </div>
</div>

<script type="text/javascript" src="{{ config.static }}/bootstrap/js/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="{{ config.static }}/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ config.static }}/bootstrap/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="{{ config.static }}/bootstrap/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });

    </script>

</body>
</html>